/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1601)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [Kama.Mefa.Azmoon]
GO
/****** Object:  Table [req].[Conditional]    Script Date: 5/4/2018 9:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [req].[Conditional](
	[ID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[FatherName] [nvarchar](255) NOT NULL,
	[NationalCode] [char](10) NOT NULL,
	[Year] [smallint] NOT NULL,
	[ExamYear] [smallint] NOT NULL,
	[TestType1] [bit] NOT NULL,
	[TestType2] [bit] NOT NULL,
	[TestType4] [bit] NOT NULL,
	[TestType8] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [req].[Conditional] ([ID], [FirstName], [LastName], [FatherName], [NationalCode], [Year], [ExamYear], [TestType1], [TestType2], [TestType4], [TestType8]) VALUES (N'79d56846-875f-451e-b986-b50ff7f461e3', N'علی اصغر                      ', N'اب شالان                      ', N'صحبت اله            ', N'0059359013', 1397, 1394, 0, 1, 1, 1)
INSERT [req].[Conditional] ([ID], [FirstName], [LastName], [FatherName], [NationalCode], [Year], [ExamYear], [TestType1], [TestType2], [TestType4], [TestType8]) VALUES (N'66bd6afc-10f8-4976-92ea-e8f9d8432d7e', N'رضا                           ', N'ابدالو                        ', N'اروج قلی            ', N'2803380579', 1397, 1395, 0, 1, 0, 1)
INSERT [req].[Conditional] ([ID], [FirstName], [LastName], [FatherName], [NationalCode], [Year], [ExamYear], [TestType1], [TestType2], [TestType4], [TestType8]) VALUES (N'eafacb29-d74e-46fc-af19-a122b1a2077a', N'مجید                          ', N'ابدان كندری                   ', N'علی                 ', N'0055806503', 1397, 1396, 0, 0, 1, 1)
GO
